[Desktop Entry]
Name=HTYPaint
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYPaint/HTYPaint
Icon=/media/sonichy/job/HY/Linux/Qt/HTYPaint/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYPaint
Terminal=false
Type=Application
MimeType=
Categories=